.nav {
	width: 160px;
	background: rgba(105, 107, 241, 0.5)
}

.nav_item {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #333;
	text-align: center;
}

.nav_item:hover {
	background: rgba(91, 238, 218, 0.5)
}